<!-- File create 10/19/23 by Liam -->
<!-- Edited 10/23/23 by Ethan: edited classes -->
<!-- This is a middleman "partial" file, it can be imported into other files -->
<!-- Creates a bar at the top with navigation -->

<nav id="navigation">
    <ul class="center red-bg">
        <li><a href="index.html">Home</a></li>
        <li><a href="professionalHistory.html">Professional History</a></li>
        <li><a href="AwardsAndAccolades.html">Awards</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="MediaPress.html">Media Presence</a></li>
    </ul>
</nav>
