<!-- 10/22 Liam created _officeaddress.erb -->
<address>
    Dreese Laboratories<br/>
    <!-- Based on recommended <address> microformat here: https://microformats.org/wiki/adr -->
    <span class="street-address">2015 Neil Avenue</span>, <span class="extended-address">RM 491</span><br/>
    <span class="locality">Columbus</span>,
    <span class="region" title="Ohio"><abbr>OH</abbr></span>
    <span class="postal-code">43210</span>
    <span class="country-name">USA</span>
</address>
